@media (min-width:768px) {
    .chilliPepper{
        position: absolute !important;
        right: 0;
        top: 100px;
    }

     .chipsOne{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .chipsOne img{
        width: 500px !important;
        height: 320px;
    }
    .chipsTwo{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .chipsTwo img{
        width: 500px;
    }
}

@media (max-width:768px) {
    .chilliPepper{
        position: absolute !important;
        right: 0;
        top: 100px;
    }

     .chipsOne{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .chipsOne img{
        width: 150px !important;
        height: 180px;
    }
    .chipsTwo{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .chipsTwo img{
        width: 200px;
    }

}